<div class="modal-dialog">
    <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Título del modal</h5>

                <form action="" method="post">
                    <div class="modal-body">
                        ...
                    </div>
                    <div ALIGN="right">
                        <div>
                            <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span>
                                Guardar
                            </button>

                            <button type="button" class="btn btn-secondary" onclick="return cerrar_modal()"><span
                                    class="fa fa-undo"></span>
                                Cancelar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>