{% extends 'base.html' %}


{% block tituloweb %}
Inicio
{% endblock tituloweb %}


{% block contenido %}

<div class="row">
    <div class="container-sm col-3">
        <div class="card mt-5">

            <div class="card-header text-center">
                <h2>Cambiar contraseña</h2>
            </div>

            <form class="m-3" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <br>

                <div class="row">
                    <div class="col-12">
                        <label for="">Contraseña actual</label>
                        {{ form.password1}}
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-12">
                        <label for="">Contraseña nueva</label>
                        {{ form.password2}}
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-12">
                        <label for="">Confirmar contraseña</label>
                        {{ form.password3}}
                    </div>
                </div>
                <br>

                <div class="mb-2">
                    <button type="submit" class="btn btn-primary btn-block">Confirmar</button>
                    <a href="{% url 'home_app:index' %}" class="btn btn-secondary btn-block">Cancelar</a>
                </div> 

            </form>

        </div>
    </div>
</div>

{% endblock contenido %}

{% block footer %}
{% endblock footer %}